    @{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<BookStoreOnline.Models.SANPHAM>

@{
    var price = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var user = Session["TaiKhoan"] as BookStoreOnline.Models.KHACHHANG;
}
<link rel="stylesheet" href="~/Content/style.css">
<script src="~/Scripts/Jav.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <section class="hero">
        <div class="slide-show ">
            <div class="list-images">
                <img src="~/Images/Cardgame_Slide_T6_840x320.jpg" alt="">
                <img src="~/Images/MangaWeek_T524_MangaFiesta_Slidebanner_840x320.jpg" alt="">
                <img src="~/Images/Silver_0624_Ver2_ZenBooksSlide_840x320.png" alt="">
                <img src="~/Images/Tapvo_SlideBanner_T06.jpg" alt="">

            </div>
            <div class="btnn">
                <div class="btn-left btnn "><i class="fas fa-angle-left"></i></div>
                <div class="btn-right btnn "><i class="fas fa-angle-right"></i></div>
            </div>
        </div>

        <div class="row"></div>
        <div class="img-side  ">
            <img class="item-img" src="~/Images/bottom.jpg" alt="">
            <img class="item-img" src="~/Images/1__3_.jpg" alt="">
        </div>
    </section>


<div class="container body-page">
    <h3>Sách hay tuyển chọn</h3>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 prod-item">
                <div class="card" style="width: 18rem;">
                    <a href="@Url.Action("Index/"+ item.MaSanPham,"ProductDetail")"><img class="card-img-top" src="~/Images/@item.Anh" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="@Url.Action("Index/"+ item.MaSanPham,"ProductDetail") " class="title-prod"> <h5 class="card-title">@item.TenSanPham </h5> </a>
                        <h5 style="color: darkred;">@String.Format(price, "{0:c0}", item.Gia)</h5>
                        <p class="card-text rating-card">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <span style="color: black;">(0 đánh giá)</span>
                        </p>
                        @if (user != null)
                        {
                            <a href="@Url.Action("AddSingleProduct/"+ item.MaSanPham,"Cart")" class="custom-btn btn-14">Mua</a>

                        }
                        else
                        {
                            <a href="@Url.Action("Login", "User")" class="custom-btn btn-14">Mua</a>

                        }

                        <a href="@Url.Action("Index/"+ item.MaSanPham,"ProductDetail")"></a>

                    </div>
                </div>
            </div>
        }


    </div>

    <div class="row" style="justify-content: center; margin:30px auto">
        <a href="@Url.Action("GetAllBook","Category")" class="see-more"><h4>Xem thêm</h4></a>
    </div>

</div>